.title{
    display: flex;
    justify-content: center;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn{
    width: 300px;
    height: 100px;
    font-size: large;
    border-radius: 50%;
    margin: 0 auto;
    align-items: center;
    cursor: pointer;
    color: whitesmoke;
    background-color: #0d47a1;
}
.add-btn{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 1rem;
}
.back-btn{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.card{
    height: auto;
    width: 250px;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    /* background-color: rebeccapurple; */
    /* color: white; */
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    gap: 1rem;
    padding: 20px;
}